---
layout: layout.njk
---
<header class="header">
   <div class="header-nav-container">
      <div class="logo">
      </div>
      <nav id="main-nav">
         <ul id="menu">
            <li>
               <a href="/">Home
               <a/>
            </li>
            <li><a href="/skin-type"> Skin Types<a/></li>
            <li class="active"><a href="/acne"> Acne<a/></li>
            <li><a href="/sun-protection"> Sun Protection<a/></li>
            <li><a href="/anti-aging"> Anti-Aging<a/></li>
         </ul>
      </nav>
   </div>
</header>
<body id="main">
   <div class="main-container">
      <div class="main-section">
         <article>
            <h1>How to identifying different types of acne</h1>
            <h3>Liz over at THE ACNE CHANNEL helps explain the different types and how to treat them</h3>
            <p>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Qu-6rmObYA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>
         </article>
      </div>
      {% include "sidebar.njk" %}
   </div>
</body>
</html>