---
layout: layout.njk
---
   <header class="header">
      <div class="header-nav-container">
         <div class="logo">
         </div>
         <nav id="main-nav">
            <ul id="menu">
               <li>
                  <a href="/">Home
                  <a/>
               </li>
               <li><a href="/skin-type"> Skin Types<a/></li>
               <li><a href="/acne"> Acne<a/></li>
               <li><a href="/sun-protection"> Sun Protection<a/></li>
               <li class="active"><a href="/anti-aging"> Anti-Aging<a/></li>
            </ul>
         </nav>
      </div>
   </header>

<body id="main">
   <div class="main-container">
      <div class="main-section">
            <article>
            <h1>What's the secret to youthful skin?</h1>
            <h3>Check out Dr. Dray's video on all of the top anti-aging ingredients</h3>
            <p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HfI3qgOxYqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>
         </article>
      </div>
         </body>

          {% include "sidebar.njk" %}

      </div>

</body>
</html>