<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MiSkyn Sun Protection</title>
      <link rel="stylesheet" href="/css/sun-protection.css"/>
   </head>

   <div class="header-nav-container">
      <header>
         <div id="logo">
         </div>
         <nav id="main-nav">
            <ul id="menu">
               <li>
                  <a href="/index">Home
                  <a/>
               </li>
               <li><a href="/skin-type"> Skin Types<a/></li>
               <li><a href="/acne"> Acne<a/></li>
               <li class="active"><a href="/sun-protection"> Sun Protection<a/></li>
               <li><a href="/anti-aging"> Anti-Aging<a/></li>
            </ul>
         </nav>
      </header>
   </div>

<div class="sun">
   <body class="combination-sun">
      <nav class="sun-nav">
         <ul id="sun-menu">
            <ol>
               <a href="/sun-protection"> Homepage
               <a/>
            </ol>
            <ol><a href="/dry-sun"> Dry Skin<a/></ol>
            <ol><a href="/oily-sun"> Oily Skin<a/></ol>
            <ol class="active"><a href="/combination-sun"> Combination<a/></ol>
            <ol><a href="/test-skin-type"> Find Skin Type<a/></ol>
         </ul>
      </nav>
      <article class="maincontent-sun">
      <p>
      <h3>WHAT'S THE BEST SUN CREAM FOR MY COMBINATION SKIN?</h3>
      <br>
      If you have oily skin, the thought of putting sunscreen on can sometimes be a little bit unappealing—especially since many formulas on the market leave a greasy, white-cast after-effect once they're applied.
      <br>
      The good news? There are plenty of matte sunscreens that offer up a nice, non-oily finish.
      <br>
      Explore the differnet options for SPF suitable for oily skin <a href="https://www.byrdie.com/best-sunscreen-for-oily-skin-4588215">here</a>
      <br>
      Also check out Cathy's video on Oily Skin SPF's
      <br>
      <iframe width="400" height="200" src="https://www.youtube.com/embed/C7lTwk82H1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </p>
      </article>
</div>
{% include "footer.njk" %}
</body>

</html>

