<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MiSkyn Sun Protection</title>
      <link rel="stylesheet" href="/css/sun-protection.css"/>
   </head>
   <div class="header-nav-container">
      <header>
         <div id="logo">
         </div>
         <nav id="main-nav">
            <ul id="menu">
               <li>
                  <a href="/index">Home
                  <a/>
               </li>
               <li><a href="/skin-type"> Skin Types<a/></li>
               <li><a href="/acne"> Acne<a/></li>
               <li class="active"><a href="/sun-protection"> Sun Protection<a/></li>
               <li><a href="/anti-aging"> Anti-Aging<a/></li>
            </ul>
         </nav>
      </header>
   </div>
<div class="sun">
   <body class="dry-sun">
      <nav class="sun-nav">
         <ul id="sun-menu">
            <ol>
               <a href="/sun-protection"> Homepage
               <a/>
            </ol>
            <ol class="active"><a href="/dry-sun"> Dry Skin<a/></ol>
            <ol><a href="/oily-sun"> Oily Skin<a/></ol>
            <ol><a href="/combination-sun"> Combination<a/></ol>
            <ol><a href="/test-skin-type"> Find Skin Type<a/></ol>
         </ul>
      </nav>
      <article class="maincontent-sun">
      <p>
      <h3>WHAT'S THE BEST SUN CREAM FOR MY DRY SKIN?</h3>
      <br>
      Spending time out in the sun can leave skin dehydrated, which is bad news for those who already suffer from dry skin.
      <br>
      Explore the differnet options for SPF suitable for dry skin <a href="https://www.laroche-posay.ie/en_IE/what-s-the-best-sun-cream-for-my-dry-skin.html">here</a>
      <br>
      Also check out Dr. Dray's video on Dry Skin SPF's
      </p>
      <iframe width="400" height="200" src="https://www.youtube.com/embed/Br5sO7GpB6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </article>
</div>
{% include "footer.njk" %}
</body>
</div>
</html>