---
layout: layout.njk
---
   <header class="header">
      <div class="header-nav-container">
         <div class="logo">
         </div>
         <nav id="main-nav">
            <ul id="menu">
               <li>
                  <a href="/">Home
                  <a/>
               </li>
               <li class="active"><a href="/skin-type"> Skin Types<a/></li>
               <li><a href="/acne"> Acne<a/></li>
               <li><a href="/sun-protection"> Sun Protection<a/></li>
               <li><a href="/anti-aging"> Anti-Aging<a/></li>
            </ul>
         </nav>
      </div>
   </header>

<body id="main">
   <div class="main-container">
 
            <section class="test-skin-type">
               <h2><em>Would you describe your skin as...</em></h2>
               <hr>
                  <dd><a href="/dry">Flacky, itching, and cracking</a></dd>
                  <hr>
                  <dd><a href="/oily">Greasy, clogged pores, and acne</a></dd>
                  <hr>
                  <dd><a href="/combination">All of the above</a></dd>
               </section>