      <footer class="footer">
         <p>Follow our expert Dr. Dray on instagram <a href="https://www.instagram.com/drdrayzday/?hl=en"><img src="/images/insta.png" class="insta-img"></a></p>
      </footer>